<main class="p-5">
    <div class="card p-5">
        <p id="test">
            Hello cats! Hello cats! Hello cats! Hello cats! Hello cats!Hello cats! Hello cats!Hello cats!
        </p>
        <span>Hello cats?</span>
    </div>

    <pre>
        a	bc		def
    </pre>

	<div>
		<span class="">Відображення блоків</span>
		
		<div style="margin: 20px 50px">
			<span class="">Відображення блоків</span>
			<span class="inlineblock">Відображення блоків</span>
			<span class="">Відображення блоків</span>
		</div>

		<div style="margin: 10px 30px 40px 0px; background-color: yellow ">
			<span class="block">Відображення блоків</span>
			<span class="">Відображення блоків</span>
		</div>

	</div>
</main>