<div class="card p-5 m-5 card-dark">
    <a href="#test">Click miy</a>
</div>

<div class="card p-5 m-5 card-dark">
    <a class="link" lang="fr" href="https://www.gookjhfhdgle.com">Click miy</a> 
</div>


<div lang="en" class="card p-5 m-5 card-dark">
    <span>Write me now!</span>
</div>


<div class="card p-5 m-5 card-dark">
    <input>
</div>

<div id="test" class="card p-5 m-5 card-dark">
    Anchor
</div>

<div class="p-5 m-5 card-dark">
    <button>Seen inside</button>
    <button disabled>not seen inside</button>
</div>

<div class="p-5 m-5 card-dark">
    <input class="inp">

    <div class="mt-5">
        <div>
            <input type="checkbox" checked>
            <span>First</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Second</span>
        </div>
    </div>
</div>

<div class="p-5 m-5 card-dark">
    <input type="email" class="valid">
</div>


<div class="p-5 m-5 card-dark">
    <div>
        <input type="number" required class="number" placeholder="put the number">
        <span>put the number</span>
    </div>
    <div class="mt-5">
        <input type="number" min="-10" max="50" value="1" required class="number">
    </div>
</div>



{{!-- 
selector - 1
 --}}
{{!-- <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1> --}}
{{!-- 
<style>
    h1 {
  color:rgb(165, 12, 170);
}
</style> --}}

{{!-- <div class="p-5 box">
    <h1 class="button">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1 style="color:orange">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 >USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <h3 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>

    dfkbg khghg
    fgh
    <button type="button" class="button my-5">Купити</button>

    <h1>Дочірній селектор</h1>
    <p>
         — це селектор, який надає стилі для всіх тегів, які є дочірніми тегами головного тегу. 
        <i class="">
            Селектор нащадка — це селектор, який надає стилі для всіх
тегів, які є нащадками головного тегу. Для цього вкажіть у селекторі через пробіл розташування тегу, або ви можете вказати два рази знак більше (“>>”)
        </i>
    </p>
</div> --}}


{{!-- 
selector - 2
 --}}
{{!-- <section>
    <div class="card p-3 m-5 card-dark">
        <ul>
            <li class="item">first</li>
            <div class="item">another</div>
            <li class="item">second</li>
            <li class="item">third</li>
        </ul>
        <div class="card p-3 m-2">
            <ol>
                <li class="item">Alone</li>
            </ol>
        </div>        
    </div>
    <div class="card p-3 m-2">
        <ol>
            <li class="item">Alone2</li>
        </ol>
    </div>
    <div class="m-5">
        <span class="item2">Селектор першої дитини</span>
        <span class="item2"> — це селектор, який вибирає перший тег, якщо він є першою дитиною всередині батьківського тегу</span>
        <p class="item2">Селектор псевдоклас</p>
        <p> — це ключове слово, додане до звичайного селектора, яке визначає його особливий стан</p>
        <em class="item2">Селектор першого типу — це селектор, який вибирає перший елемент по заданому тегу серед своїх сусідських тегів</em>
        <b>Селектор останнього типу</b>
    </div>
</section> --}}

{{!-- 
selector - 3
 --}}

 {{!-- <div class="card p-5 m-5 card-dark">
    <input class="input-dark" required>
    <input class="input-dark" placeholder="There are">
    <input class="input-dark m-4" type="number">

    <button class="btn my-3 color">Click me</button>
    <button class="btn-primary">Click me</button>

    <button class="btn btn-primary">Click me</button>
    <a href="001" class="btn btn-primary ">Click me</a>
    <a href="001" class="btnyell btn-primary ">Click me</a>
 </div>

  <div class="card p-5 m-5 card-dark img">
    <p class="big-text">
        kjgh dskf sg srgy rhy rdhy hy thy th tsh st y
    </p>
    <img src="https://picsum.photos/200/100" heigh="100px" alt="image small card 100" class="small-img">
 </div>
 --}}




