@layer normalize, block, element, mod, adaptive;

:root {
	--color-white: #fff;
	--color-white-fog: rgba(255, 255, 255, 0.7);
	--color-black: #000;
	--color-black-fog: rgba(0, 0, 0, 0.7);

	--color-primary: #0D6EFD;
	--color-background: #EFEFF4;
	--color-background-light: #F8FAFC;
	--color-background-dark: #212529;
	--color-dividor: #CED4DA;
	--color-grey-light: #BDBDBD;

	--color-blue-light: #E1F3FC;
	--color-blue: #008BE1;
	--color-blue-dark: #0068BC;
	--color-yellow-light: #FFF8E3;
	--color-yellow-dark: #FFBF35;
	--color-purple-light: #5B39AD;
	--color-purple-dark: #402B9C;

	--color-success: #00801B;
	--color-warn: #F51B2A;
	
	--spacing-1: 8px;
	--spacing-2: 12px;
	--spacing-3: 16px;
	--spacing-4: 20px;
	--spacing-5: 24px;
	--spacing-6: 28px;
	--spacing-7: 32px;
	--spacing-8: 36px;
	--spacing-9: 40px;
	--spacing-10: 80px;

	--size-1: 14px;
	--size-2: 16px;
	--size-3: 20px;
	--size-4: 24px;
	--size-5: 28px;
	--size-6: 32px;

	--b-radius-1: 4px;

	--line-height: 1.5em;

	--opacity-1: 0.7;
	--opacity-2: 0.3;
	--transition-1: 0.7s;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
	background-color: var(--color-white);
}

@layer block {
	.page {
		background-color: var(--color-background);
		width: 100%;
		min-height: 100vh;
	}

	.main {
		padding: var(--spacing-9);
		display: grid;
		gap:  var(--spacing-9);		
	}

	.vertical {
		display: grid;
		gap: var(--spacing-5);
	}

	.aside {
		padding: var(--spacing-5);
		background-color: var(--color-background-dark);
		
		align-content: flex-start;
	}

	.icon {
		display: block;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.nav-button {
		display: flex;
		align-items: center;
		gap: var(--spacing-1);
		
		text-decoration: none;
		padding: var(--spacing-2);
		border-radius: var(--b-radius-1);
		border: 2px solid transparent;
	}

	.text {		
		font-family: 'Roboto', sans-serif;
		color: var(--color-black);
		font-size: var(--size-2);
	}

	
	.header {
		background-color: var(--color-white);
		padding: var(--spacing-2);
	}

	.layout {
		width: 100%;
		max-width: 1300px;
		margin: 0 auto;
	}

	.field {
		min-height: 36px;
		border: 1px solid var(--color-grey-light);
		padding: 0 var(--spacing-2);
		border-radius: var(--b-radius-1);
	}

	.box {
		background-color: var(--color-white);
		padding: var(--spacing-5);
		border-radius: 16px;
	}

	.analytic {
		border-radius: 8px;
		padding: var(--spacing-5);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	.relative {
		position: relative;
	}
}

@layer element {
	.page__aside {
		grid-row: 1 / 3;
	}

	.aside__logo {
		font-size: var(--size-4);
		color: var(--color-white);
		padding-bottom: var(--spacing-5);
		border-bottom: 1px solid var(--color-dividor);
	}

	.nav-button__icon {
		height: 16px;
		width: 16px;
	}

	.header__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header__search {
		width: 100%;
		max-width: 30%;
		min-width: 180px;
		background-color: var(--color-background-light);
	}

	.header__set-block {
		display: flex;
		align-items: center;
		gap: var(--spacing-4);
	}

	.header__icon-search {
		height: 20px;
		width: 20px;
		position: absolute;
		top: calc(50% - (20px / 2));
		left: var(--spacing-2);
	}

	.analytic__icon {
		width: 44px;
		height: 44px;		
	}

	.analytic__block {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr, 1fr;
		grid-row-gap: var(--spacing-4);
		grid-column-gap: var(--spacing-5);
	}

	.analytic__summ {
		color: var(--color-white);
		font-size: var(--size-6);
		font-weight: 500;
	}

	.analytic__text {
		color: var(--color-white-fog);
	}

	.icon__arrow {
		height: 20px;
		width: 20px;
		border-radius: 10px;
		background-color: var(--color-purple-light);

		position: absolute;
		top: 0;
		left: calc(100% + var(--spacing-1));
	}

	/* .field__select {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
	}

	.field__select:hover {

	} */

}

@layer mod {
	.page--dashboard {
		display: grid;
		grid-template-columns: 280px 1fr;
		grid-template-rows: min-content 1fr;
	}

	.vertical--small {
		gap: var(--spacing-2);
	}

	.text--light {
		color: var(--color-white);
	}

	.text--line {
		line-height: var(--line-height);		
	}

	.text--heading {
		font-size: var(--size-4);
		color: var(--color-background-dark);
		font-weight: 500;
	}

	.text--small {
		font-size: var(--size-1);
		font-weight: 400;
	}

	.text--bold {
		font-weight: 500;
	}
	
	.click {
		transition-property: opacity border-color;
		transition-duration: var(--transition-1);
		cursor: pointer;
	}

	.click:hover {
		opacity: var(--opacity-1);		
		border-color: rgba(13, 110, 253, 0.7);
		
	}

	.click:active {
		opacity: var(--opacity-2);
	}

	.nav-button--active {
		background-color: var(--color-primary);
	}

	.field--header {
		padding-left: 44px;
		padding-right: 44px;
		width: 100%;
		height: 52px;
	}

	.field--header::placeholder {
		color: var(--color-grey-light);
	}

	.icon--button {
		border-radius: var(--b-radius-1);
		border: 1px solid transparent;
	}
	
	.icon--header-settings {
		height: 28px;
		width: 28px;
		position: absolute;
		top: calc(50% - (28px / 2));
		right: var(--spacing-2);
	}

	.icon--blue-dark {
		background-color: var(--color-blue-dark);
	}

	.icon--blue-light {
		background-color: var(--color-blue-light);
	}

	.icon--yellow-light {
		background-color: var(--color-yellow-light);
	}

	.icon--purple {
		background-color: var(--color-purple-dark);
	}
	
	.icon--set-block {
		height: 32px;
		width: 32px;
	}

	.analytic--double {
		grid-row: 1 / 3;
	}

	.analytic--normal {
		flex-direction: row;
		justify-content: flex-start;
		gap: var(--spacing-2);
		align-items: center;
	}

	.analytic--blue {
		background-color: var(--color-blue);
	}

	.analytic-purple {
		background-color: var(--color-purple-light);
	}

	.analytic--white {
		border: 1px solid var(--color-dividor);
	}
	
	.analytic__text--dark {
		color: var(--color-black-fog);
	}

	.analytic__summ--total {
		font-size: var(--size-3);
	}

	.analytic__summ--dark {
		color: var(--color-black);
	}

	/* .field--select {
		display: flex;
		align-items: center;
	}

	.select--icon-check {
		height: 12px;
		width: 12px;
		position: absolute;
		top: calc(50% - (12px / 2));
		right: var(--spacing-2);
	} */
}

@layer adaptive {
	@media all and (width <= 1000px) {
		.page--dashboard {
			grid-template-columns: 1fr;
		}
	}

	.aside {
		display: none;
	}

	.header {
		display: none;
	}
}