:root {
	--color-main: #272B30;
	--color-second: #3c3070;
	--color-accent: #885FFB;
	--color-text: #9CA3AF;
	--color-white: #fff;
	--color-border: #253041;

	--space-xs: 12px;
	--space-s: 16px;
	--space-m: 20px;
	--space-l: 32px;

	--size-s: 14px;
	--size-m: 16px;
	--size-l: 18px;
	--size-xl: 24px;
	--size-2m: 32px;
	--size-2l: 36px;

	--font-weight-fat: 700;

	--border-radius: 12px;
	--border-radius-x2: 24px;
}

/* ==================================== */

.page {
	background: var(--color-main); 
	padding: 0 var(--space-m);

	display: flex;
	justify-content: center;
}

.page_content {
	display: flex;
	flex-direction: column;
	gap: 60px;

	max-width: 1150px; 
	width: 100%;

	background: transparent;
	font-family: 'Roboto';
	color: var(--color-white);
	font-size: var(--size-s);
}

/* ==================================== */

.header {
	display: flex;
	flex-direction: column;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: var(--space-xs) 0;

	border-bottom: 1px solid var(--color-border);
}

.logo {
	background-color: var(--color-accent);
	padding: 8px 14px;
	border-radius: var(--border-radius);
	
	font-weight: var(--font-weight-fat);
}

.nav_block {
	display: flex;
	flex-direction: row;
	align-self: center;
	font-size: var(--size-m);
	gap: var(--space-m);
}

.nav_link {
	color: var(--color-white);
	text-decoration: none;
	border-bottom: 1px solid transparent;

	transition: 1s;
}

.nav_link:hover {
	border-color: var(--color-white);
	box-shadow: 0 5px 4px 4px var(--color-second);
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: var(--space-xs);
}

.ad {	
	display: flex;
	flex-direction: row;
	gap: 6px;
}

.ad_sign {
	color: var(--color-accent);
	background: rgba(136, 95, 251, 0.20); 
	padding: 2px 6px;
	border-radius: 4px;
	
	font-weight: var(--font-weight-fat);
}

.ad_text {
	color: var(--color-white);
	text-decoration: none;
	align-self: center;

	transition: 0.5s;
}

.ad_text:hover {
	cursor:grab;
	text-shadow: 0 0 10px var(--color-white);
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: var(--space-s) 0 var(--space-l) 0;

	border-top: 1px solid var(--color-border);
}

.copyrights {
	font-size: var(--size-m);
	color: var(--color-text);
}

/* ==================================== */

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--space-m);
	padding: var(--space-l);
	border-radius: var(--border-radius-x2);
	background: linear-gradient(172deg, rgba(136,95,251,0.2) 5%, rgba(39,43,48,0.6) 70%); 
	box-shadow: 0 0 10px 1px var(--color-second);
}

.hero_title {
	font-size: var(--size-2l);
	font-weight: 600;
}

.hero_text {
	font-size: var(--size-m);
	color: var(--color-text);
	line-height: 150%;
}

.hero_button {
	background-color: var(--color-accent);
	padding: var(--space-xs) var(--space-l);
	border-radius: var(--border-radius);
	max-width: 150px;
	font-weight: var(--font-weight-fat);
	color: var(--color-white);
	text-decoration: none;

	transition: 1s;
}

.hero_button:hover {
	background-color: var(--color-second);	
	box-shadow: 0 0 10px 1px var(--color-accent);
	text-shadow: 0 0 10px var(--color-white);
}

.about {
	display: flex;
	flex-direction: column;
	align-items: start;

	gap: var(--space-s);
	padding: var(--space-l);
	border-radius: var(--border-radius-x2);
	background-color: rgba(136,95,251,0.1);	
}

.about_title {
	font-size: var(--size-xl);
	font-weight: var(--font-weight-fat);
}

.about_text {
	color: var(--color-text);
	line-height: 170%;
	text-align: justify;
}

/* ==================================== */

.main {
	display: flex;
	flex-direction: column;
	gap: var(--space-l)
}

.art_head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.art__title {
	font-size: var(--size-2m);
	font-weight: var(--font-weight-fat);
}

.art_head_button {
	background-color: transparent;
	border: 1px solid var(--color-text);
	border-radius: var(--border-radius);
	padding: 12px 21px;
	
	font-weight: var(--font-weight-fat);
	color: var(--color-white);
	text-decoration: none;

	transition: 1s;
}

.art_head_button:hover {
	box-shadow: 0 0 10px 1px var(--color-accent);
}

.articles {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--space-l);
}

.art_card {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	max-width: 360px;
	gap: var(--space-s);
}

.picture {
	position: relative;
}

.art_card_picture {
	width: 100%;
	height: auto;
	border-radius: var(--border-radius-x2);

}

.art_card_badge {
	padding: 2px 6px; 
	border-radius: 4px;
	background: rgba(251, 95, 95, 0.7); 

	font-size: var(--size-m);
	font-weight: var(--font-weight-fat);

	position: absolute;
	right: var(--space-s);
	bottom: var(--space-s);
}

.art_card_title {
	font-size: var(--size-l);
	font-weight: var(--font-weight-fat);
}

.art_card_text {
	color: var(--color-text);
	line-height: 170%;
}

.art_card_button {
	background-color: var(--color-accent);
	padding: 8px 14px;
	border-radius: var(--border-radius);

	font-weight: var(--font-weight-fat);
	color: var(--color-white);
	text-decoration: none;

	transition: 1s;
}

.art_card_button:hover {
	box-shadow: 0 0 10px 1px var(--color-white);
}