:root {
	--text-color: #2caf0b;
}

.page {
	background: #ffffff;
	padding: 0 15px;
}

.page_content {
	max-width: 960px;
	margin: 0 auto;
}

.header {
	padding:24px;
	border-bottom: 1px solid #DEE2E6;
}

.logo {
	font-size:17px;
}

.divider {
	margin: 0;
	height: 1px;
	background: #DEE2E6;
}

.nav {
	display: block;
}

.nav_link {
	color:#343A40;
	font-size:16px;
	text-decoration: none;
}

.nav_link:hover {
	color:blue;
	text-decoration: underline;
}

.nav_vertical > .nav_link {
	display: block;
}

.nav_vertical > .nav_link:not(:last-child) {
	margin-bottom: 12px;
}

.nav_inline > .nav_link:not(:last-child) {
	margin-right: 24px;
}

.header_nav_right {
	margin-left: auto;
	width: fit-content;
}

.page_block:not(:last-of-type) {
	margin-bottom: 80px;
}

.footer {
	padding:24px 0;
	border-top: 1px solid #DEE2E6;

}

.footer_copyright {
	font-size: 14px;
	color: #6C757D;

	display: block;

	margin-top: 12px;
}

.footer_title {
	color: var(--text-color, #212529);
	font-size: 20px;

	display: block;
	margin-bottom: 12px;
}

.hero_title {
	color: var(--text-color, #212529);
	font-size: 56;
	font-weight: 500;
	margin-bottom: 12px;
	text-align: center;
}

.hero_text {
	color: var(--text-color, #212529);
	font-size: 20;
	text-align: center;
	width: 350px;
	margin: 0 auto;

	line-height: 200%;
}

.plans_card:not(:last-of-type) {
	margin-right: 24px;
}

.card-header {
	padding: 12px;
	text-align: center;
	font-size: 24px;
	color: var(--text-color, #212529);
}

.card-body {
	padding: 24px;
}

.card_block {
	text-align: center;
}

.card_block:not(:last-of-type) {
	margin-bottom: 24px;
}

.card_price_amount {
	font-size: 40px;
	color: var(--text-color, #212529);
}

.card_price_duration {
	font-size: 29px;
	color: #6C757D;

	/* vertical-align: sub; */
	/* vertical-align: -12px; */
	vertical-align: -15%;
}

.card_description_item {
	font-size: 16px;
	color: var(--text-color, #212529);

	display: block;
}

.card_description_item:not(:last-of-type) {
	margin-bottom: 12px;
}

.card_button {
	display: block;
	width: 100%;
	font-size: 19px;
	padding: 9px;
}

.card_button:hover {
	cursor: grabbing;
}

.card {
	border-right: 1px solid blue;
	border-radius: 0px 20px 20px 20px;

	box-shadow: 10px 10px 10px 5px rgba(48, 183, 236, 0.411);
}

.card:hover {
	outline: 3px dotted green;
	outline-offset: 5px;

	cursor: grab;

	opacity: 0.5;
}

h1 {
	text-shadow: 10px -30px 10px rgba(48, 155, 123, 0.836);
}

.plans_card:nth-child(2) > .card {
	background: peachpuff;
}

.plans_card:nth-child(2) {
	/* display: none; */
	/* visibility: hidden; */
	visibility: collapse;
}

p {
	background: grey;
	width: 150px;

	/* 
	height: 100px;

	overflow: hidden;

	text-overflow: ellipsis; */
	/* (з'являться "..." коли є цілі слова чи числа, що не переносяться і не вміщаються) */

	/* white-space: pre; */
	/* white-space: pre-wrap; */

	overflow: auto;
	resize: both;
}

/* body {
	background-image: url('/img/test.png');
	background-repeat: round;
} */

/* .page {
	background-color: transparent;
	background-image: url('/img/test2.webp');

	background-repeat: no-repeat;

	background-position: top;

	background-size: 60%;

	background-attachment: fixed;
} */

.hero_text {
	padding: 40px;
	color: green;
	
	border-image-source: url('/img/test2.webp');
	border-image-width: 5% 15%;
	border-image-slice: 10%;
}

.card_block {
	/* list-style-type: square; */
	list-style-position: inside;

	list-style-image: linear-gradient(to top right, red, yellow)
}

.card_description_item {
	display: list-item;
}

.table tr td {
	border: 1px solid plum;
	border-bottom-color: red;
	border-right-color: green;
}

.table {
	table-layout: fixed;
	width: 600px;

	border-collapse: unset;

	border-spacing: 10px 20px;

	caption-side: top;

	empty-cells: show;
}

.nav_link::before {
	content: open-quote;
}

.nav_link::after {
	content: close-quote;
}

.calc {
	width: 600px;

	margin-left: calc(50% - (600px / 2))
}

