:root {
	--space-s: 8px;
	--space-m: 12px;
	--space-xm: 16px;
	--space-l: 24px;
	--space-b: 36px;

	--size-s: 14px;
	--size-d: 16px;
	--size-l: 20px;
	--size-b: 24px;

	--color-border: #D3DEE9;
	--color-primary: rgb(46, 46, 255);
	--color-white: #fff;
	--color-title: #212529;
	--color-text:#343A40;
	--secondary-text: #6C757D;
	--secondary-back: #F8F9FA;

	--border-radius-d: 12px;
	--border-radius-s: 4px;

	--weight-title: 600;
	--weight-text: 400;
}

/* =========================== */

.page {
	background-color: var(--color-white);
	padding: 0 15px;

	display: flex;
	justify-content: center;
}

.page_content {
	max-width: 1000px;
	width: 100%;

	display: flex;
	flex-direction: column;

	gap: 80px;

	font-family: 'Roboto';
}

/* =========================== */

.header {
	padding: var(--space-l) 0;
	border-bottom: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
}

.logo {
	font-size:17px;
	color: var(--color-white);
	background: var(--color-primary);

	width: 24px;
	height: 24px;
	border-radius: calc(var(--border-radius-d) / 2);

	display: flex;	

	align-items: center;
	padding-left: 2px;
}

.nav {
	display: flex;
	
}

.nav_inline {
	gap: var(--space-l);	
}

.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;
}

.header_nav {
	align-self: center;
}

.nav_link {
	color:var(--color-text);
	font-size: var(--size-d);

	align-self: flex-start;

	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: 1s;
}

.nav_link:hover {
	border-color: var(--color-text);
	color: var(--color-title);
}

.footer {
	padding: var(--space-b) 0;
	border-top: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
}

.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);

	display: block;
	margin-top: var(--space-l);
}

.footer_title {
	color: var(--color-title);
	font-size: var(--size-l);

	font-weight: var(--weight-title);

	display: block;
	margin-bottom: var(--space-l);
}

/* =========================== */

.main_block {
	display: flex;
	flex-direction: row;
	width: 100%;
	
	gap: var(--space-l);
}

.info {
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	gap: var(--space-l);

	color: var(--color-title);
}

.info_title {
	font-size: 56px;
	font-weight: var(--weight-title);
	line-height: 120%;
	max-width: 580px;
}

.info_text {
	font-size: var(--size-b);
	line-height: 150%;
	max-width: 400px;
}

/* ================================================ */

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px 48px 60px 48px;

	max-width: 400px;
	width: 100%;

	background-color: var(--secondary-back);
	border-radius: var(--border-radius-s);
}

.form_input_list {
	display: flex;
	gap: var(--space-s);
	flex-direction: column;
}

.form_input {
	padding: var(--space-xm) var(--space-m);
	border-radius: var(--border-radius-s);
	background-color: var(--color-white);
	border: 1px solid #CED4DA; 
}

.form_input::placeholder {
	color: var(--color-title);
	font-size: var(--size-s);
}

.form_checkbox {
	display: flex;
	gap: var(--space-s);
	align-items: center;
}

.form_checkbox > input {
	display: none;
}

.form_checkbox > input ~ div {
	border-radius: var(--border-radius-s);
	border: 1px solid #767676; 
	height: 13px;
	width: 13px;
}

.form_checkbox > input:checked ~ div {
	border-radius: var(--border-radius-s);
	background-color: var(--color-primary);
	border-color: var(--color-primary); 
	height: 13px;
	width: 13px;
}

.form_checkbox > label {
	color: var(--color-title);
	font-size: var(--size-s);
	cursor: pointer;
}

.form_button {
	text-align: center;
	font-size: var(--size-l);
	padding: var(--space-xm);
	background-color: var(--color-primary);
	color: var(--color-white);
	border-radius: var(--border-radius-s);
	
	transition: 1s;
}

.form_button:hover {
	opacity: 0.6;
}

.form_button:active {
	opacity: 0.2;
}

.divider {
	border-bottom: 1px solid var(--color-border);
}

.form_info{
	text-align: center;
	font-size: var(--size-s);
	color: var(--secondary-text);
	line-height: 120%;
}

/* ================================================ */

.updates {
	width: 100%;

	background-color: var(--color-white);
	border-radius: var--border-radius-d;

	box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.10);

	padding: var(--space-l);

	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}

.updates_title {
	font-size: var(--size-b);
	color: var(--color-title);
	font-weight: var(--weight-text);

	padding-bottom: var(--space-m);
	border-bottom: 1px solid var(--color-border);	
}

.show_all_link {
	color: var(--color-primary);
	font-size: var(--size-s);
	font-weight: var(--weight-title);
	align-self: flex-start;

	text-decoration: none;
	border-bottom: 1px solid transparent;

	transition-duration: 1s;
}

.show_all_link:hover {
	border-color: var(--color-primary);
}

.upd {
	display: flex;
	flex-direction: row;
	gap: 8px;

	padding-bottom: var(--space-l);
}

.upd .updates_image {
	height: 32px;
	width: 32px;
	background-image: linear-gradient(90deg, rgba(46,46,255,1) 0%, rgba(255,255,255,1) 100%);
}

.upd:nth-of-type(3n-1) .updates_image {
	background-image: linear-gradient(90deg, rgb(255, 46, 220) 0%, rgba(255,255,255,1) 100%);
}

.upd:nth-of-type(3n) .updates_image {
	background-image: linear-gradient(90deg, rgb(171, 46, 255) 0%, rgba(255,255,255,1) 100%);
}

.upd_content {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: var(--space-m);

	padding-bottom: var(--space-m);
	border-bottom: 1px solid var(--color-border);
	padding-right: var(--space-b);
	
	color: var(--secondary-text);
}

.upd_name {
	font-size: var(--size-s);
	font-weight: var(--weight-title);
}

.upd_text {
	font-size: var(--size-d);
	line-height: 150%;
}

/* ================================================ */

.expirience {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
	padding: var(--space-l);
	width: 100%;

	background-color: var(--secondary-back);
	
	position: relative;
}

.expirience_title {
	/* display: flex; */
	font-size: 42px;
	font-weight: var(--weight-title);
	color: var(--color-title);
}

.expirience_list {
	display: flex;
	flex-direction: row;

	gap:var(--space-l);
	align-self: stretch; 
}

.expirience_items {	
	display: flex;
	flex-direction: column;
	padding: var(--space-xm);
	gap: var(--space-s);

	border-radius: var(--border-radius-d);
	border: 1px solid #E4EAF2;
	width: 100%;

	background-color: var(--color-title);
}

.expirience_items > strong {
	color: var(--color-white);
	font-weight: var(--weight-title);
	font-size: var(--size-l);
}

.expirience_items > p {
	color: var(--secondary-back);
	font-size: var(--size-d);
	font-weight: var(--weight-text);
	line-height: 150%;
}

.badge {
	background-color: #FF7347;
	color: var(--color-white);
	font-size: var(--size-b);
	font-weight: var(--weight-title);
	
	display: flex;
	flex-direction: column;
	align-items: center; 

	transform: rotate(30deg);
	padding: var(--space-m) var(--space-l);
	border-radius: calc(var(--space-m) + var(--size-b) / 2);
	
	position: absolute;
	right: -28px;
	top: -18px;
}