<footer>
	{{#with footer}}
		<div class="nav_block">
			{{#each pages}}
				<a class="nav_link" href="{{path}}">{{name}}</a>
			{{/each}}
		</div>
		<div class="copyrights">© Copyrights Shop 2022. All rights reserved</div>
	{{/with}}
</footer>